@use 'sass:map';

$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("/fonts/icons.ttf?78a9180ff7a8fecd5eb797e192617953") format("truetype"),
url("/fonts/icons.woff?78a9180ff7a8fecd5eb797e192617953") format("woff"),
url("/fonts/icons.woff2?78a9180ff7a8fecd5eb797e192617953") format("woff2");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "reset": "\f101",
    "reset-bold": "\f102",
    "inverted": "\f103",
    "focus-top": "\f104",
    "focus-bottom": "\f105",
    "apple-share": "\f106",
);

.icon-reset:before {
    content: map.get($icons-map, "reset");
}
.icon-reset-bold:before {
    content: map.get($icons-map, "reset-bold");
}
.icon-inverted:before {
    content: map.get($icons-map, "inverted");
}
.icon-focus-top:before {
    content: map.get($icons-map, "focus-top");
}
.icon-focus-bottom:before {
    content: map.get($icons-map, "focus-bottom");
}
.icon-apple-share:before {
    content: map.get($icons-map, "apple-share");
}
