stages:
    - dependency_analysis
    - build
    - deploy

include:
  - remote: "https://gitlab.griffin-studio.dev/external-projects/ci-templates/-/raw/main/DC.gitlab-ci.yml"

build:
  image: node:lts
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - yarn install
    - yarn run build
  artifacts:
    paths:
      - dist

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - cp dist/index.html dist/404.html
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
