@use "sass:math";
@use "sass:map";

$festive: false;
$build-select: build;
$debug: false;
$nm-design: true;

@if ($build-select == dev) {
  $debug: true;
  //@debug "Debug: #{$debug}"
} @else if ($build-select == build) {
  $debug: false;
  //@debug "Debug: #{$debug}"
}

//// CONSTANT VIEWPORT SIZES (Should not be changed)
// Mobile
$s-mobile: 320px;
$m-mobile: 375px;
$l-mobile: 425px;
// Tablet
$s-tablet: 540px;
$m-tablet: 655px;
$l-tablet: 768px;
// Laptop
$s-laptop: 854px;
$m-laptop: 940px;
$l-laptop: 1024px;
// Desktop
$s-desktop: 1440px;
$m-desktop: 1920px;
$l-desktop: 2560px;

//// SUPPORTED SCREEN SIZES
$screen-sizes: (
  // Mobile
  "": 0px,
  // MIN MOBILE (Must Stay Enabled)
  //"sm-": $s-mobile,
  //"mm-": $m-mobile,
  //"lm-": $l-mobile,
  // Tablet
  //"st-": $s-tablet,
  //"mt-": $m-tablet,
  "lt-": $l-tablet,
  // Laptop
  //"sl-": $s-laptop,
  //"ml-": $m-laptop,
  //"ll-": $l-laptop,
  // Desktop
  //"sd-": $s-desktop,
  //"md-": $m-desktop,
  //"ld-": $l-desktop
);

//// CONSTANT DESIGN SIZES
$design-sizes-map: (
  mobile: (
    vw: 428,
    fs: 18,
    lh: 25
  ),
  tablet: (
    vw: 428,
    fs: 20,
    lh: 25
  ),
  desktop: (
    vw: 1920,
    fs: 20,
    lh: 32
  )
);

//// CONSTANT DESIGN CENTER VIEWPORT
// Desktop
$center-vw-map: (
  default: (
    mobile: 380,
    tablet: 1200,
    desktop: 1600,
  ),
  btm-bar: (
    mobile: 1252,
    tablet: 1252,
    desktop: 1252,
  ),
  small: (
    mobile: 360,
    tablet: 600,
    desktop: 600,
  ),
);

// Get Desktop
$desktop: $m-desktop;

// Get Tablet
$tablet: $l-laptop;

// Get Mobile
$mobile: $l-tablet;

// CONSTANT DESIGN COLUMN SETTINGS
$flex-columns: 24;
$flex-gutter: math.div(20, map.get(map.get($design-sizes-map, desktop), fs));

// CONSTANT COLOURS
$full-dark: rgb(18, 18, 18);
$full-light: rgb(255, 255, 255);
