@use '../abstracts' as *

label
    @include label

fieldset
    display: block
    padding: px-em(20, 16)
    margin-inline-start: px-em(2, 16)
    margin-inline-end: px-em(2, 16)
    min-inline-size: min-content
    border: solid px-em(0, 16) var(--color-5)
    border-radius: px-em(10, 16)
    box-shadow: var(--nm-outset)

    legend
        padding-inline: px-rem(10)
        border-radius: px-rem(5)
        box-shadow: var(--nm-inset-out-small)
        background-color: var(--main-bg-color)

textarea
    line-height: 1.5
    min-height: 118px
    padding: 10px 12px

select
    padding: px-rem(8) px-rem(15)
    -webkit-appearance: none
    background-color: transparent
    border-radius: 0
    color: var(--text-color)
    font-family: var(--font-family)
    line-height: var(--line-height)
    outline: none
